<%= turbo_frame_tag 'result' do %>
  <h1>Multiplication Result:</h1>
  <p>The result of multiplying <%= @number1 %> and <%= @number2 %> is <%= @result %>.</p>
  <%= link_to "Try Again", root_path %>
<% end %>
