<%= turbo_frame_tag 'result' do %>
  <%= form_with url: "/multiply", method: "post", data: { turbo_frame: 'result' } do |form| %>
    <label>Number 1:</label>
    <%= form.number_field :number1 %>

    <label>Number 2:</label>
    <%= form.number_field :number2 %>

    <%= form.submit "Multiply" %>
  <% end %>
<% end %>
